{% extends "base.html" %}

{% block title %}Публикации в категории {{ slug }}{% endblock %}

{% block content %}
    <h1>Публикации в категории {{ slug }}</h1>
    {% for post in posts %}
        <hr>
        <article>
            <ul>
                <li>Место: {{ post.location }}</li>
                <li>Дата: {{ post.date }}</li>
                <li>Категория: {{ post.category }}</li>
            </ul>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}
